@include tablets {
    .header_section {
        .header_grid {
            .nav_section {
                .nav_container {
                    .navigation {
                        .nav_grid {
                            grid-template-columns: max-content 3fr 1fr;

                            .menu {
                                justify-self: center;

                                li {
                                    padding: 0rem 1rem;
                                }

                                .submenu {
                                    left: -2rem;

                                    .submenu {
                                        left: -200px;
                                    }
                                }
                            }

                            .menu_btn_section {
                                display: flex;
                                position: absolute;
                                top: 4rem;
                                right: 0rem;
                            }
                        }
                    }
                }
            }

            .hero_section {
                .hero_container {
                    .hero_content {
                        h1 {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@include phones {
    .header_section {
        .header_grid {
            grid-template-rows: 2fr 2fr;

            .nav_section {
                .nav_container {
                    width: 100%;
                    padding: 0 2rem;
                    background: $white;
                    position: fixed;
                    top: 0;
                    z-index: 2000;

                    .navigation {
                        line-height: 5rem;

                        .nav_grid {
                            display: block;

                            .logo {
                                a {
                                    color: $black;
                                }
                            }

                            .menu {
                                display: none;
                                position: absolute;
                                width: 100%;
                                max-height: 1200px;
                                overflow: hidden;
                                left: 0;
                                text-align: center;
                                background: white;
                                line-height: 2rem;
                                z-index: 1500;
                                // @include transition();

                                li {
                                    display: block;

                                    &:hover>.submenu {
                                        max-height: 500px;

                                        @include transition();
                                    }

                                    a {
                                        color: $black;
                                    }

                                    .active2 {
                                        color: black;
                                    }
                                }

                                .submenu {
                                    position: initial;
                                    background: transparent;
                                    width: 100%;
                                    right: 50px;
                                    max-height: 0;
                                    @include transform_translate(0%, 0%);

                                    li {
                                        display: block;
                                    }

                                    .submenu {
                                        position: initial;
                                        top: 0;
                                        right: 50px;
                                        @include transform_translate(0%, 0%);

                                        li {
                                            a {
                                                color: $red_btn;

                                                &:hover {
                                                    color: $black;
                                                }
                                            }
                                        }
                                    }
                                }

                                .menu_btn_section {
                                    display: block;
                                    padding-bottom: 2rem;

                                    .call {
                                        padding: 1rem 0rem;

                                        a {
                                            color: $black;

                                        }
                                    }
                                }
                            }
                        }

                        .show_menu {
                            display: block;
                        }

                        // #chk:checked~.show_menu {
                        //     display: none;
                        // }

                        // #chk:checked~.hide_menu {
                        //     display: block;
                        // }

                        // #chk:checked~.nav_grid .menu {
                        //     max-height: 720px;
                        //     @include transition();
                        // }
                    }
                }
            }

            .hero_section {
                .hero_container {
                    width: 100%;
                    padding: 0rem 2rem;

                    .hero_content {
                        h1 {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@include xs {
    .header_section {
        .header_grid {
            grid-template-rows: 1fr 3fr;
            grid-row-gap: 4rem;

            .nav_section {
                .nav_container {
                    width: 100%;
                    padding: 0 2rem;
                    background: $white;
                    position: fixed;
                    top: 0;
                    z-index: 2000;

                    .navigation {
                        line-height: 5rem;

                        .nav_grid {
                            display: block;

                            .logo {
                                a {
                                    color: $black;
                                }
                            }

                            .menu {
                                display: none;
                                position: absolute;
                                width: 100%;
                                max-height: 1200px;
                                overflow: hidden;
                                left: 0;
                                text-align: center;
                                background: white;
                                line-height: 2rem;
                                z-index: 1500;
                                // @include transition();

                                li {
                                    display: block;

                                    &:hover>.submenu {
                                        max-height: 500px;
                                        @include transition();
                                    }

                                    a {
                                        color: $black;
                                    }
                                }

                                .submenu {
                                    position: initial;
                                    background: transparent;
                                    width: 100%;
                                    right: 50px;
                                    max-height: 0px;
                                    @include transform_translate(0%, 0%);

                                    li {
                                        display: block;
                                    }

                                    .submenu {
                                        position: initial;
                                        top: 0;
                                        right: 50px;
                                        @include transform_translate(0%, 0%);

                                        li {
                                            a {
                                                color: $red_btn;

                                                &:hover {
                                                    color: $black;
                                                }
                                            }
                                        }
                                    }
                                }

                                .menu_btn_section {
                                    display: block;
                                    padding-bottom: 2rem;

                                    .call {
                                        padding: 1rem 0rem;

                                        a {
                                            color: $black;

                                        }
                                    }
                                }
                            }
                        }

                        .show_menu {
                            display: block;
                        }

                        // #chk:checked~.show_menu {
                        //     display: none;
                        // }

                        // #chk:checked~.hide_menu {
                        //     display: block;
                        // }

                        // #chk:checked~.nav_grid .menu {
                        //     max-height: 1200px;
                        // }
                    }
                }
            }

            .hero_section {
                @include transform_translate(0%, 10%) .hero_container {
                    width: 100%;
                    padding: 0rem 2rem;

                    .hero_content {
                        h3 {
                            font-size: 1rem;
                        }

                        h1 {
                            width: 90%;
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }
}