.contact_section {
    padding-top: 5rem;
    .contact_container {
        width: 100%;
        max-width: 100%;
        padding: 0rem 2rem;
        .contact_grid {
            display: grid;
            grid-template-columns: 1fr 4fr;
            grid-column-gap: 5rem;
            .contact_form {
                h1 {
                    font-size: 2rem;
                    padding-bottom: 2rem;
                }
                input {
                    display: block;
                    padding: .5rem 1rem;
                    border: none;
                    font-size: .9rem;
                }
                textarea {
                    border: none;
                    width: 100%;
                }
                .first_name {
                    width: 48%;
                    height: 4rem;
                    display: inline-block;
                    border-bottom: 1px solid rgba($black, .4);
                    margin-bottom: 2rem;
                }
                .email {
                    width: 48%;
                    height: 4rem;
                    display: inline-block;
                    border-bottom: 1px solid rgba($black, .4);
                    margin-bottom: 2rem;
                    float: right;
                }
                .subject {
                    width: 100%;
                    height: 4rem;
                    display: block;
                    border-bottom: 1px solid rgba($black, .4);
                    margin-bottom: 2rem;
                }
                .message {
                    width: 100%;
                    height: 12rem;
                    display: block;
                    border-bottom: 1px solid rgba($black, .4);
                    margin-bottom: 2rem;
                }
                span {
                    color: red;
                    padding: 10px 5px;
                    text-align: center;
                }
                .message_btn {
                    input {
                        width: 100%;
                        display: block;
                        text-align: center;
                        padding: 0.75rem 1.8rem;
                        background: $red_btn;
                        color: $white;
                        font-size: 1rem;
                        @include transition();
                        &:hover {
                            background: $light_black;
                        }
                    }
                }
            }
        }
    }
}