// ===================================================================================== //
// mixin for responsive start

// for extra small device
@mixin xs {
    @media screen and (max-width: 575px) {
        @content;
    }
}

// for phones

@mixin phones {
    @media screen and (min-width: 576px) and (max-width: 767px) {
        @content;
    }
}

// for tablets


@mixin tablets {
    @media screen and (min-width: 768px) and (max-width: 991px) {
        @content;
    }
}

// for desktops


@mixin desktops {
    @media screen and (min-width: 992px) and (max-width: 1199px) {
        @content;
    }
}

//for extra large device


@mixin xl {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

// xs to tablets


@mixin xs_to_tablets {
    @media screen and (max-width: 991px) {
        @content;
    }
}

// mixin for responsive end

// ===================================================================================== //



// ===================================================================================== //

//transition
@mixin transition($value:.5s) {
    transition: $value;
    -webkit-transition: $value;
    -moz-transition: $value;
    -ms-transition: $value;
    -o-transition: $value;
}

// transform

@mixin transform_translate($valu1, $valu2) {
    transform: translate($valu1, $valu2);
    -webkit-transform: translate($valu1, $valu2);
    -moz-transform: translate($valu1, $valu2);
    -ms-transform: translate($valu1, $valu2);
    -o-transform: translate($valu1, $valu2);
}

@mixin transform_scale($value) {
    transform: scale($value);
    -webkit-transform: scale($value);
    -moz-transform: scale($value);
    -ms-transform: scale($value);
    -o-transform: scale($value);
}

// border radius
@mixin border_radius($value) {
    border-radius: $value;
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    -ms-border-radius: $value;
    -o-border-radius: $value;
}


// ===================================================================================== //